set_io CLK            P7
#set_io CDONE          M10
set_io TP10           M12
set_io TP11           D9
set_io FLASH_SDO      M11
set_io FLASH_SDI      P11
set_io -pullup yes FLASH_SCK      P12
set_io FLASH_SS       P13
set_io QSPI_CS        L4
set_io QSPI_SCK       L5
set_frequency QSPI_SCK 150
# IO0 and IO1 swapped on board
set_io QSPI_DI        M4
set_io QSPI_DO        M3
set_io QSPI_IO2       P3
set_io QSPI_IO3       P2
set_io IOB_73         P4
set_io IOB_74         P5
set_io IOB_82_GBIN4   P8
set_io IOB_87         L8
set_io IOB_89         P9
set_io IOB_91         M9
set_io IOB_103_CBSEL0 L9
set_io IOB_104_CBSEL1 P10
set_io IOL_5P         D1
set_io IOL_5N         E1
set_io IOL_9P         F4
set_io IOL_9N         F3
set_io IOL_12P        J3
set_io IOL_12N        J1
set_io IOL_13P        G3
set_io IOL_13N        G1
set_io IOL_14P        H1
set_io IOL_14N        H3
set_io IOL_18P        K3
set_io IOL_18N        K4
set_io IOL_23P        L1
set_io IOL_23N        M1
set_io IOL_25P        N1
set_io IOL_25N        P1
set_io NOR_CE         K11
set_io NOR_OE         G12
set_io NOR_WE         D10
set_io NOR_BYTE       K14
set_io -pullup yes NOR_RY_BY C7
set_io NOR_A0         G11
set_io NOR_A1         A7
set_io NOR_A2         A10
set_io NOR_A3         A2
set_io NOR_A4         C6
set_io NOR_A5         A11
set_io NOR_A6         A1
set_io NOR_A7         D7
set_io NOR_A8         C11
set_io NOR_A9         D5
set_io NOR_A10        A5
set_io NOR_A11        C12
set_io NOR_A12        B1
set_io NOR_A13        A4
set_io NOR_A14        D11
set_io NOR_A15        C1
set_io NOR_A16        B14
set_io NOR_A17        C10
set_io NOR_A18        D6
set_io NOR_A19        A6
set_io NOR_A20        C5
set_io NOR_A21        C4
set_io NOR_A22        A3
set_io NOR_A23        A12
set_io NOR_A24        H11
set_io NOR_A25        F11
set_io NOR_DQ0        K12
set_io NOR_DQ1        H12
set_io NOR_DQ2        D14
set_io NOR_DQ3        L14
set_io NOR_DQ4        N14
set_io NOR_DQ5        F14
set_io NOR_DQ6        E11
set_io NOR_DQ7        J12
set_io NOR_DQ8        E14
set_io NOR_DQ9        L12
set_io NOR_DQ10       G14
set_io NOR_DQ11       C14
set_io NOR_DQ12       E12
set_io NOR_DQ13       P14
set_io NOR_DQ14       F12
set_io NOR_DQ15       D12
